body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    flex: 1;
}
.nav{
    height: 4rem;
    background-color: white;
}
.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}
.nav-link{
    color: #222222 !important;
}
.f-info{
    height: 7rem;
    background-color: rgba(128, 128, 128, 0.619);
    display: flex;
    flex-wrap: wrap;

}
.f-info-handles,.f-info-copyright,.f-info-links{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #222222;
}
.f-info-handles{
    font-size: 1.2rem;
    gap: 0.6rem;
}
.f-info-links a{
    text-decoration: none;
    color: #222222;

}
.f-info-links a:hover{
    text-decoration: underline;
}
.listing-link{
    text-decoration: none !important;
} 
.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}
.card-body{
    padding: 0px !important;
}
.card-text{
    font-weight:400 !important;
}
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}
.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}
.edit-btn{
    background-color: #fe424d !important;
    border: none !important;
}
.show-img{
    height: 30vh;
}
.btns{
    display: flex;

}
.show-card{
    padding-left: 0;
    padding-right: 0;
}